body {
  font-family: Verdana, Geneva;
  color: black;
  background-color: #364958;
}
header {
  height: 150px;
}
article {

  margin-left: 60%;
}
h1{
  color: #3A7CA5;
  text-align:center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 75px;
}

h2{
  font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
}
h3{
  font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
}
p{
  text-align:center;
  font-size: 15px;
}
p1{
  color: rgb(0, 0, 0);
  text-align:center;
  font-size: 15px;
}
a{
  margin: 5px;
  color: white;
  text-decoration: none;
  color: grey;
}

img{
  border: 8px outset grey;
}

iframe {
  border: 10px outset #2274A5;
  margin-left: 690px;
  margin-top: 50px;
}

a:link, a:visited {
    color: #1B98E0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #77A6B6;
}

nav {
  position: sticky;
  top: 0;
  background-color: #006494;
  width: 100%;
}

nav ul {

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
