body {
  font-family: Verdana, Geneva;
  color: black;
  background-color: #364958;
}
header {
  height: 150px;
}
article {
  color: #2DC7FF;
  margin-left: 60%;
}
h1{
  color: #3A7CA5;
  text-align:center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;

}

h2{
  font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
  color: #2DC7FF;
}
h3{
  font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
}
p{
  text-align:center;
  font-size: 15px;
}
p1{
  color: rgb(0, 0, 0);
  text-align:center;
  font-size: 15px;
}

img{
  border: 8px outset #2274A5;
}

iframe {
  border: 10px outset #2274A5;
}
nav{
  position: sticky;
  top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006494;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #2DC7FF;
}

li a:hover:not(.active) {
    background-color: #0E0E52;
}

.active {
    background-color: #150578;
}
