body {
  background-color: black ;
  font-family: Verdana, Geneva;
  background-image:url("http://www.robertafish.com/wp-content/uploads/2013/05/mountains-1920x108052.jpg");
  background-size: 100%;
  color: #F8F8F8;
}
header {
  height: 150px;
}
article {
  border: 10px outset;
  margin-left: 60%;
}
h1{
  color: #555555;
  font-style: italic;
  text-align:center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 75px
}

h2{
  color: #555555;
   font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
}

p{
  text-align:center;
  font-size: 15px;
}
a{
  margin: 5px;
  color: white;
  text-decoration: none;
  color: grey;
}

img{
  border: 8px outset grey;
}

iframe {
  border: 8px outset grey;
}

a:link, a:visited {
    background-color: dimgrey;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: silver;
}
