body {
  font-family: Verdana, Geneva;
  color: black;
  background-color: #364958;
}
header {
  height: 150px;
}
section{
  color: #00ABE7;
}
.project{
  border: 7px outset #2274A5;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  padding: 10px;
  text-align: right;
}

.index{
  border: 7px outset #2274A5;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  padding: 10px;
  float: left;
  text-align: left;
}

article {
  margin-right: 50%;
  margin-top: 1%;
  color: #2DC7FF;
  padding: 5px;
  text-align: left;
}

.badges{
  border: 7px outset #2274A5;
  margin-right: 30%;
  margin-left: 25%;
  margin-top: 1%;
  padding: 8px;
  float: left;
}

footer{
  color: #2DC7FF;
  margin-left: 25%;

}
.par{
  text-align: left;
  color: #2DC7FF;
}
h1{
  color: #3A7CA5;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 75px;
}

.site{
  border: 7px outset #2274A5;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 1%;
  color: #2DC7FF;
  padding: 5px;
  text-align: left;
}

h2{
  font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
}
h3{
  font-variant: small-caps;
  text-align:left;
  font-family: Georgia, "Times New Roman" , Times, serif;
  word-spacing: 3px;
  letter-spacing: 1px;
}
p{
  text-align:center;
  color: #2DC7FF;
  text-align: left;
}

img{
  border: 8px outset #2274A5;
}

iframe {
  border: 10px outset #2274A5;
  margin-top: 0.5%;
  margin-left: 25%;
}

.contact{
  border: 10px outset #2274A5;
  margin-top: 0.5%;
  margin-left: 25%;
}

nav{
  position: sticky;
  top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006494;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #2DC7FF;
    font-size: 15px;
}

li a:hover:not(.active) {
    background-color: #0E0E52;
}

.active {
    background-color: #150578;
}

a:visited {
    color: #2DC7FF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
